<!DOCTYPE html>
<html>
<head>


<title> Prediction Using Fask </title>

<body>

<h2>HTML Forms</h2>

<form action="/action_page.php">
  <label for="fname">Payment Amount:</label><br>
  <input type="text" id="PAY_AMT1" name="PAY_AMT1" value="Payment Amount"><br>
  <label for="lname">Billing Amount:</label><br>
  <input type="text" id="BILL_AMT1" name="BILL_AMT1" value="billing aomunt"><br>
  <label for="fname">LIMIT_BAL:</label><br>
  <input type="text" id="LIMIT_BAL" name="LIMIT_BAL" value="Limit Balance"><br>
  <label for="lname">SEX:</label><br>
  <input type="text" id="SEX" name="SEX" value="SEX"><br>
  <label for="fname">EDUCATION:</label><br>
  <input type="text" id="EDUCATION" name="EDUCATION" value="EDUCATION"><br>
  <label for="lname">MARRIAGE:</label><br>
  <input type="text" id="MARRIAGE" name="MARRIAGE" value="MARRIAGE"><br>
  <label for="fname">AGE:</label><br>
  <input type="text" id="AGE" name="AGE" value="AGE"><br>
  <label for="lname">PAY_0:</label><br>
  <input type="text" id="PAY_0" name="PAY_0" value="PAY_0"><br>
  <label for="lname">PAY_2:</label><br>
  <input type="text" id="PAY_2" name="PAY_2" value="PAY_2"><br>
  <label for="lname">PAY_3:</label><br>
  <input type="text" id="PAY_3" name="PAY_3" value="PAY_3"><br>
  <label for="lname">PAY_4:</label><br>
  <input type="text" id="PAY_4" name="PAY_4" value="PAY_4"><br>
  <label for="lname">PAY_5:</label><br>
  <input type="text" id="PAY_5" name="PAY_5" value="PAY_5"><br>
  <label for="lname">PAY_6:</label><br>
  <input type="text" id="PAY_6" name="PAY_6" value="PAY_6"><br>
  <label for="lname">BILL_AMT2:</label><br>
  <input type="text" id="BILL_AMT2" name="BILL_AMT2" value="BILL_AMT2"><br>
  <label for="lname">BILL_AMT3:</label><br>
  <input type="text" id="BILL_AMT3" name="BILL_AMT3" value="BILL_AMT3"><br>
  <label for="lname">BILL_AMT4:</label><br>
  <input type="text" id="BILL_AMT4" name="BILL_AMT4" value="BILL_AMT4"><br>
  <label for="lname">BILL_AMT5:</label><br>
  <input type="text" id="BILL_AMT5" name="BILL_AMT5" value="BILL_AMT5"><br>
  <label for="lname">BILL_AMT6:</label><br>
  <input type="text" id="BILL_AMT6" name="BILL_AMT6" value="BILL_AMT6"><br>
  <label for="lname">PAY_AMT2:</label><br>
  <input type="text" id="PAY_AMT2" name="PAY_AMT2" value="PAY_AMT2"><br>
  <label for="lname">PAY_AMT3:</label><br>
  <input type="text" id="PAY_AMT3" name="PAY_AMT3" value="PAY_AMT3"><br>
  <label for="lname">PAY_AMT4:</label><br>
  <input type="text" id="PAY_AMT4" name="PAY_AMT4" value="PAY_AMT4"><br>
  <label for="lname">PAY_AMT5:</label><br>
  <input type="text" id="PAY_AMT5" name="PAY_AMT5" value="PAY_AMT5"><br>
  <label for="lname">PAY_AMT6:</label><br>
  <input type="text" id="PAY_AMT6" name="PAY_AMT6" value="PAY_AMT6"><br>
  <input type="submit" value="Submit">
</form> 

<p>Please fill in all the columns and click the "Submit" button".</p>

</body>
</html>
